<!DOCTYPE html>
<html>
<head>
  <title>Catalogue</title>
  <link rel="stylesheet" href="/styles-catalogue.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>📚 Catalogue</h1>
            <nav>
                <a href="/stats" class="nav-link">📊 Vers statistiques</a>
            </nav>
        </header>

        <section class="section">
            <ul class="overview-cards">
                <% documents.forEach(doc => { %>
                    <li class="card">
                        <div class="card-value"><%= doc.fields?.titre_avec_lien_vers_le_catalogue || "Sans titre" %></div>

                        <div>
                            <% if (doc.FIELD9 === "borrowed") { %>
                                <span class="nav-link">Emprunté</span>
                            <% } else { %>
                                <span class="nav-link">Disponible</span>
                            <% } %>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </section>

        <section class="section">
            <nav class="pagination">
                <% if (page > 1) { %>
                    <a href="/?page=<%= page - 1 %>&limit=<%= limit %>" class="link_pagination">Précédent</a>
                <% } %>

                <span>Page <%= page %> / <%= totalPages %> — <%= total %> livres</span>

                <% if (page < totalPages) { %>
                    <a href="/?page=<%= page + 1 %>&limit=<%= limit %>" class="link_pagination">Suivant</a>
                <% } %>
            </nav>
        </section>
    </div>
</body>
</html>