<!DOCTYPE html>
<html>
<head>
  <title>Catalogue</title>
  <link rel="stylesheet" href="/styles-catalogue.css">
</head>
<body>
  <h1>Catalogue</h1>

    <ul>
    <% documents.forEach(doc => { %>
        <li>
        <div><%= doc.fields?.titre_avec_lien_vers_le_catalogue || "Sans titre" %></div>

        <div>
            <% if (doc.FIELD9 === "borrowed") { %>
            <span>(Emprunté)</span>
            <% } else { %>
            <span>(Disponible)</span>
            <% } %>
        </div>
        </li>
    <% }) %>
    </ul>

    <nav class="pagination">
    <% if (page > 1) { %>
        <a href="/?page=<%= page - 1 %>&limit=<%= limit %>">Précédent</a>
    <% } %>

    <span>Page <%= page %> / <%= totalPages %> — <%= total %> livres</span>

    <% if (page < totalPages) { %>
        <a href="/?page=<%= page + 1 %>&limit=<%= limit %>">Suivant</a>
    <% } %>
    </nav>
</body>
</html>